<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">SpaMan</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('main.index') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Evaluate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('matrix.index') }}">Matrices</a>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-success my-2 my-sm-9" type="submit">Search</button>
        </form>
    </div>
</nav>

{% if breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    {% for title, route in breadcrumb[:-1] %}
        <li class="breadcrumb-item"><a href="{{ url_for(route) }}">{{ title }}</a></li>
    {% endfor %}
        <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb[-1] }}</li>
    </ol>
</nav>
{% endif %}