{% extends "_layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} Edit {% endblock %}
{% block content %}
<div>
    <h2>Add/Edit/Delete Password</h2>
    <hr />

    <form class="form" role="form" method="POST" action="">
        {{ form.csrf_token }}
        {{ wtf.form_errors(form) }}

        <div class="form-group row">
            {{ form.name.label(class_='col-sm-2 col-form-label') }}
            <div class="col-sm-10">{{ form.name(class_='form-control', disabled=view) }}</div>
        </div>

        <div class="form-group row">
            {{ form.algorithm_id.label(class_='col-sm-2 col-form-label') }}
            <div class="col-sm-10">
                {{ form.algorithm_id(class_='form-control', disabled=view) }}
                <small class="form-text text-muted">{{ form.algorithm_id.description }}</small>
            </div>
        </div>

        <div class="form-group row">
            {{ form.salt.label(class_='col-sm-2 col-form-label') }}
            <div class="col-sm-10">
                {{ form.salt(class_='form-control', disabled=view) }}
                <small class="form-text text-muted">{{ form.salt.description }}</small>
            </div>
        </div>

        <br />

        <div class="form-row">
            <div class="form-check col-sm-6">
                <div class="col-sm-2">{{ form.uppercase(class_='form-check-input', disabled=view) }}</div>
                {{ form.uppercase.label(class_='col-sm-10') }}
            </div>

            <div class="form-check col-sm-6">
                <div class="col-sm-2">{{ form.digits(class_='form-check-input', disabled=view) }}</div>
                {{ form.digits.label(class_='col-sm-10') }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-check col-sm-6">
                <div class="col-sm-2">{{ form.lowercase(class_='form-check-input', disabled=view) }}</div>
                {{ form.lowercase.label(class_='col-sm-10') }}
            </div>

            <div class="form-check col-sm-6">
                <div class="col-sm-2">{{ form.symbols(class_='form-check-input', disabled=view) }}</div>
                {{ form.symbols.label(class_='col-sm-10') }}
            </div>
        </div>

        <br />

        <div class="form-row">
            <div class="form-group row col-sm-6">
                {{ form.iterations.label(class_='col-sm-2 col-form-label') }}
                <div class="col-sm-10">
                    {{ form.iterations(class_='col-sm-10 form-control', disabled=view) }}
                    <small class="form-text text-muted">{{ form.iterations.description }}</small>
                </div>
            </div>

            <div class="form-group row col-sm-6">
                {{ form.length.label(class_='col-sm-2 col-form-label') }}
                <div class="col-sm-10">{{ form.length(class_='col-sm-10 form-control', disabled=view) }}</div>
            </div>
        </div>

        {% if not view %}
        <button class="btn btn-success" type="submit">Save</button>
        {% endif %}
    </form>

    <br />

    {% if id and not view %}
    <form class="form" role="form" method="POST" action="/matrix/delete/{{ id }}">
        {{ form.csrf_token }}
        {{ wtf.form_errors(form) }}
        <button class="btn btn-danger">Delete Me!</button>
    </form>
    {% endif %}

    {% if password_form %}
    <form class="form" role="form" method="POST" action="/matrix/generate_password/{{ id }}">
        {{ password_form.csrf_token }}
        {{ wtf.form_errors(password_form) }}

        <div class="form-group row">
            {{ password_form.secret_key.label(class_='col-sm-2 col-form-label') }}
            <div class="col-sm-10">{{ password_form.secret_key(class_='form-control') }}</div>
        </div>

        <div class="form-group row">
            {{ password_form.password.label(class_='col-sm-2 col-form-label') }}
            <div class="col-sm-10">{{ password_form.password(class_='form-control') }}</div>
        </div>

        <button class="btn btn-warning">Generate</button>
    </form>
    {% endif %}
</div>
{% endblock %}